.keep-main-container {
  width: 100%;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.keep-form {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 400px;
  background: white;
  height: 100px;
  resize: none;
  margin: 170px 0 0 0;
  /* overflow: hidden; */
}

.keep-form input {
  border: none;
  padding: 10px 20px;
  overflow: hidden;
  width: 400px;
  border-radius: 10px;
  font-size: 20px;
}

.keep-form button {
  position: absolute;
  bottom: -18px;
  right: 20px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 8px;
  border: none;
  background: #f5ba13;
  color: #fff;
}

.keep-notes-section {
  background: #eee;
  justify-content: center;
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
  margin: 50px 0 0 0;
}

.keep-note {
  background: #fff;
  height: max-content;
  padding: 10px;
  margin: 10px;
  min-width: 350px;
  z-index: 1;
  border-radius: 10px;
}

.keep-note h1 {
  line-break: break-all;
}

.keep-note p {
  font-family: "Montserrat", sans-serif;
}
.keep-note button {
  float: right;
  margin: 10px;
  border: none;
  outline: none;
  background: none;
  text-decoration: solid;
}
