.home-main-container{
    height: 100vh;
        display: flex;
    align-items: center;
    justify-content: center;
    
}

.home-main-container ol {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 400px;
    width: 400px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #f5ba13;
    
}
.home-main-container ol li {

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    width: 200px;
    background: #212020;

}
.home-main-container ol li a{
    
    color: azure;
    text-decoration: none;
    font-size: 29px ;
}