.home-main-container{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-main-container ol {
    display: flex;
    flex-direction: column;
    /* list-style: none; */
    height: 200px;
    width: 200px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.home-main-container ol li {
    background: turquoise;
    border: 2px solid;
    padding: 20px;
    width: 200px;

}
.home-main-container ol li a{
    
    color: azure;
    text-decoration: none;
    font-size: 29px ;
}